1. 
Databases is the storage space which stores different types of data like images,audio,video and we can then fetch the same.
SQL databases which can be fetch through sql language 
NoSQL databases which consists others language inclusion.

2.
DDL- Data Definition Language

##Drop is used to delete table 

DROP TABLE table_name;

##Create is used to make new table or column

CREATE TABLE table_name(
   column1 datatype,
   column2 datatype,
   .....
   columnN datatype
);

##Alter is used to add or edit the existing table 

alter table my_table
add column employed boolean;

##Truncate is used to erase all content of the table

truncate table my_table;
select * from my_table;

3. 
DML - Data Manipulation language

#Insert statement is used to insert data in a SQL table

INSERT INTO table_name
(attribute1, attribute2, ...)
VALUES(val1, val2, ...)

#Update This command is used to make changes to the data in the table.

UPDATE table_name
SET column1 = val1,
column2 = val2,
...
WHERE CLAUSE;

#Delete is  used to remove a row from a table.

DELETE FROM table_name
WHERE CLAUSE;

4. 
DQL - Data query language

Select * from tbl_name

5.
Primary key - Unique key in the data table to join other tables in the relationship model
Foreign key-it is a key in the tbl and primary key joined with it.

6. 
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()


cursor() : 
Cursors allow us to process data row-by-row, which can be useful when we need to perform complex calculations or transformations on the data

execute() : 
The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text

7. 
FROM/JOIN
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET